# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# production
build

# misc
.DS_Store
npm-debug.log

OpenWeatherKey
9368e7f02a2beece1296d5538c3bdb6c
