@import './reset.css';
@import url('https://fonts.googleapis.com/css?family=Dosis:200,400,500');

/* RGB */
/*// $color1: #F2EFE9;
// $color2: #7D7E75;
// $color3: #B80C09;
// $color4: #252627;
// $color5: #000000;*/

/*
#B80C09
#7D7E75
#F2EFE9
#252627
#000000
*/

body {
  background: #252627;
  font-family: 'Dosis', sans-serif;
  color: #f4f4f4;
}

h2 {
    color: #7D7E75;
    font-size: 2em;
    text-align: center;
    padding: 10px;
    margin: 5px;
}

h2.add-city-icon {
    font-size: 100px;
    margin-top: 20px;
    font-weight: 100;
}

p {
  line-height: 2em;
  color: #f4f4f4;
}

.Header {
  height: 50px;
  padding: 10px;
  background: #B80C09;
  color: #f4f4f4;
  width: 100%;
}

.loading-local {
  font-size: .8em;
  font-style: italic;
  font-weight: 100;
  margin-left: 5px;
}

.local-weather-results {
  color: #F2EFE9;
  font-weight: 100;
  margin-left: 10px;
}

.current-weather-container {
  display: inline-block;
  position: relative;
  left: 40px;
}

.current-location-container {
  display: inline-block;
  position: absolute;
  right: 40px;
}

.current-weather-container p, .current-location-container p {
  font-size: 1.5em;
}

.DisplayCity {
  position: relative;
}

.DisplayCity p {
  display: inline;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.City h2 {
  color: #B80C09;
  border-bottom: 1px dotted #aaa;
}

.City .NewCityForm {
  width: 100%;
  margin: 0 auto;
  height: 320px;
  line-height: 320px;
  text-align: center;
}

.Settings .NewCityForm {
  height: 80px;
  line-height: 80px;
}

.DisplayCity h2 {
  display: inline-block;
  height: 50px;
  line-height: 50px;
}

.listed-city {
  background-color: black;
  margin: 10px;
  width: 50%;
  margin: 25px auto;
}

.City input[type="text"] {
  width: 65%;
  margin-left: 15px;
}

input[type="text"] {
  height: 25px;
  border: none;
  outline: none;
  padding: 5px;
  text-align: center;
  color: #aaa;
  font-size: 16px;
  font-weight: 100;
  margin-right: 15px;
}

.Settings section {
  text-align: center;
}

.settings-link {
    position: absolute;
    right: 34px;
    text-decoration: none;
    padding: 10px;
    color: #f4f4f4;
}

.settings-link:hover {
  color: #F2EFE9;
}

.Cities {
  display: flex;
}

.City {
  background: #000000;
  color: #f4f4f4;
  flex: 1;
  height: 300px;
  margin: 50px;
  padding: 10px;
  position: relative;
}

.weather {
  text-align: center;
  font-size: 25px;
}

.weather span {
  font-weight: 100;
  color: #fff;
}

.description {
    text-align: center;
}

.extended-link {
  background: red;
  bottom: 0;
  letter-spacing: 3px;
  line-height: 3em;
  position: absolute;
  right: 0px;
  text-align: right;
  width: 100%;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
}

.extended-link:hover {
  background: rgba(255,0,0,0.5);
}

.ExtendedCity span {
  color: white;
}

.ExtendedCity .extended-days {
    padding: 20px;
    width: 80%;
    margin: 0 auto;
    display: flex;
}

.ExtendedCity .extended-day {
  flex: 1;
  flex-wrap: nowrap;
  height: 160px;
  margin: 0px;
  justify-content: center;
  align-items: center;
  border: 1px dotted black;
  margin: 10px;
  padding: 10px;
}

.ExtendedCity .extended-day h3 {
  text-align: center;
  border-bottom: 1px solid #aaa;
  padding: 2px;
  margin-bottom: 5px;
}

.ExtendedCity .extended-day .extended-icon {
  text-align: center;
}


.ExtendedCity .extended-day p {
  margin: 0;
  padding: 0;
  margin: 0;
  font-size: 14px;
  height: 18px;
  display: flex;
}

.ExtendedCity .extended-day .title {
  flex: 1;
  text-align: right;
  margin-right: 15px;
}

.ExtendedCity .extended-day .data {
  flex: 1;
  justify-content: flex-start;
}

footer {
  background-color: #B80C09;
  bottom: 0;
  color: #f4f4f4;
  height: 40px;
  padding: 10px;
  position: absolute;
  text-align: center;
  width: 100%
}

footer p {
  font-size: 1.2em;
}
